.setCard{
    position: absolute;
    width: 390px;
    height: 600px;
    left: 200px;
    top: 30px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 70px;
    /* border: 1px solid black; */
}
#isPublic{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-image: url('./card/images/unlock.svg');
}
.modal-header .close{
    margin: 1px;
    padding: 1px;
}
.close > span{
    font-size: 32px;
}
.test{
    width: 100%;
    height: 131px;
    /* left: 676px;
    top: 535px; */

    padding: 20px;
    background: #E5E5E5;
    border-radius: 30px;
    border: none;

    overflow: auto;
    resize: vertical;
}
#cardInput > tbody > tr > td > input{
    border: none;
    border-bottom: 2px solid black;
}
#cardInput > tbody > tr > td{
    padding-bottom: 14px;
    
    font-weight: 600;
    font-size: 16px;
}

/* buttons */
.btn{
    width: 50px;
    height: 30px;
    border-radius: 50px;

    /* font-family: 'Inter'; */
    /* font-style: normal; */
    text-align: center;
    font-weight: 600;
    font-size: 15px;

    color: blue;
}
.btn-cancel{
    background: red;
    margin-right: auto;
}
.btn-confirm{
    background: black;
}
.modal-footer{
    display: flex;
    padding: 0 30px;
    border-top: none;
}