/*.calendar {
    width: 600px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    padding: 20px;
    background-color: white;
}   


    
.fc .fc-toolbar-title {
color: brown;
font-size: 30px;
}

.fc th {
color: blue;
font-size: 15px;
}*/
label.logo{
    color:black;
    font-size: 36px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}
nav{
        background-color: white;
    height: 80px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}
.side-menu{
    width: 20%;
    height: 650px;
background-color:#394B6F;
}
.calender-back{
    background-color: lightgray;
    height: 650px;
    width:70%; 
    border-radius:20px;
    overflow: flex;
    margin: auto;
} 
.flex-container {
display: flex;
flex-direction: row;
}
input[type=search] {
border: 1px solid #000;
width: 200px;
padding: 4px 12px;
border-radius: 20px;
-webkit-appearance: none;
margin-left: 40px;
margin-top: 10px;
} 
i{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

/*calander */
#calendar{
height: 650px;
}

/* buttons *//*
.btn{
    width: 80px;
    height: 30px;
    border-radius: 50px;*/

    /* font-family: 'Inter'; */
    /* font-style: normal; */
    /*text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: blue;
}
.btn-cancel{
    background: red;
    margin-right: auto;
}
.btn-confirm{
    background: black;
}
.modal-footer{
    display: flex;
    padding: 0 30px;
    border-top: none;
}*/
